:root {
    --white: hsl(0, 100%, 100%);
    --green-400: hsl(172, 67%, 45%);
    --green-900: hsl(183, 100%, 15%);
    --grey-500: hsl(186, 14%, 43%);
    --grey-400: hsl(184, 14%, 56%);
    --grey-200: hsl(185, 41%, 84%);
    --grey-50: hsl(189, 47%, 97%);
}

@font-face {
    font-family: "Outfit";
    src: url("../../assets/fonts/SpaceMono-Regular.ttf")
        format("truetype-variations");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Space Mono";
    src: url("../../assets/fonts/SpaceMono-Regular.ttf")
        format("truetype-variations");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Space Mono";
    src: url("../../assets/fonts/SpaceMono-Bold.ttf")
        format("truetype-variations");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    background-color: var(--grey-200);
}

main {
    height: 100vh;
    width: 100%;
    padding: 40px 10px;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
}

img.logo-image {
    margin-bottom: 30px;
}

input {
    font: inherit;
    border: none;
    outline: none;
    background-color: transparent;
    text-align: right;
    flex-grow: 1;
    font-weight: bold;
    font-size: 20px;
}

input:focus::placeholder {
    color: transparent;
}

input::placeholder {
    color: var(--grey-400);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

button {
    border-radius: 5px;
    border: none;
    font: inherit;
}

button:hover {
    cursor: pointer;
}

.input-container {
    background-color: var(--grey-50);
    display: flex;
    align-items: center;
    padding: 6px 16px;
    border-radius: 5px;
}

label {
    font-size: 14px;
    color: var(--grey-500);
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.input-section {
    padding: 18px;
    padding: 15px;
    padding-bottom: 23px;
}

.input-section > div:not(:last-child) {
    margin-bottom: 38px;
}

.calculator-container {
    padding: 30px 26px;
    width: 100%;
    max-width: 840px;
    margin-top: 48px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--white);
    border-radius: 18px;
}

.tip-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px 12px;
    margin-top: 14px;
    place-items: center;
}

.tip-options * {
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 6px 16px;
}

.tip-options button {
    text-align: center;
    color: var(--white);
    background-color: var(--green-900);
}

.tip-options input {
    background-color: var(--grey-50);
}

.tip-options input::placeholder {
    color: var(--grey-500);
    text-align: center;
}

.result-section {
    background-color: var(--green-900);
    border-radius: 14px;
    display: flex;
    padding: 40px 36px;
    flex-direction: column;
    justify-content: space-between;
}

.result-section .result-label p {
    font-weight: bold;
}

.result-section .result-label p:nth-of-type(1) {
    font-size: 14px;
    color: var(--white);
    margin-bottom: 0px;
}

.result-section .result-label p:nth-of-type(2) {
    font-size: 12px;
    color: var(--grey-400);
}

.result-section .result-value {
    color: var(--green-400);
}

.result-section .result-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.result-section .result-item:not(:last-child) {
    margin-bottom: 20px;
}

.result-section .result-value {
    font-size: 40px;
    font-weight: 700;
}

.result-section button {
    text-transform: uppercase;
    margin-top: auto;
    padding: 8px 15px;
    font-weight: bold;
    font-size: 18px;
    background-color: var(--green-400);
    color: var(--green-900);
    transition: background-color 100ms linear;
}

.result-section button:hover {
    background-color: var(--grey-200);
}

.result-section button:disabled {
    opacity: 25%;
    pointer-events: none;
}
