:root {
    --white: hsl(0, 100%, 100%);
    --green-400: hsl(172, 67%, 45%);
    --green-900: hsl(183, 100%, 15%);
    --grey-500: hsl(186, 14%, 43%);
    --grey-400: hsl(184, 14%, 56%);
    --grey-200: hsl(185, 41%, 84%);
    --grey-50: hsl(189, 47%, 97%);
    --error: hsl(13, 70%, 60%);
}

@font-face {
    font-family: "Outfit";
    src: url("../../assets/fonts/SpaceMono-Regular.ttf")
        format("truetype-variations");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Space Mono";
    src: url("./assets/fonts/SpaceMono-Regular.ttf")
        format("truetype-variations");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Space Mono";
    src: url("./assets/fonts/SpaceMono-Bold.ttf") format("truetype-variations");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
